<!DOCTYPE html>
<html lang="en-US" data-ng-app="realEstateApp">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title> Resi</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="stylesheets/screen.css" type="text/css" media="screen">
  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">  </script>
    <![endif]-->





  <META HTTP-EQUIV="Pragma" CONTENT="no-cache" />
  <!-- REMOVE WHEN FINISHED FOR CACHING -->
</head>

<body data-ng-controller="MainController">
  <nav>
    <ul>
      <li class="my_navbar"><a href="../contact_page/contact.html">Buy</a></li>
      <li class="my_navbar"><a href="portfolio.html">Sell</a></li>
      <li class="my_navbar" id="logo"><a href="#">RESI</a></li>
      <li class="my_navbar"><a href="../resume_page/resume.html">Rent</a></li>
      <li class="my_navbar"><a href="../about_page/about.html">Hotels</a></li>
    </ul>

    <button type="button" id="nav-button">
        <span class="lines"></span>
        <span class="lines"></span>
        <span class="lines"></span>
    </button>

    <ul id="menu">
      <li><a href="../contact_page/contact.html">Buy</a></li>
      <li><a href="portfolio.html">Sell</a></li>
      <li><a href="../resume_page/resume.html">Rent</a></li>
      <li><a href="../about_page/about.html">Hotels</a></li>
    </ul>
  </nav>

  <div id="search">
    <input type="text" placeholder="Enter a city">
    <div>
      <span class="glyphicon glyphicon-search"></span>
    </div>
    <div id="placeholder">
      <p></p>
    </div>
    <form id="other-filters">


      <select name="Min Price" class="custom-select" data-ng-model="v" data-ng-change="apply(v)">
              <option>Min Price</option>
              <option>500+</option>
              <option>750+</option>
              <option>1000+</option>
              <option>1250+</option>
              <option>1500+</option>
              <option>1750+</option>
              <option>2000+</option>
              <option>2500+</option>
            </select>
      <select name="Max Price" class="custom-select">
              <option>Max Price</option>
              <option>500+</option>
              <option>750+</option>
              <option>1000+</option>
              <option>1250+</option>
              <option>1500+</option>
              <option>1750+</option>
              <option>2000+</option>
              <option>2500+</option>
            </select>
      <select name="Bathrooms" class="custom-select">
              <option>Bathrooms</option>
              <option>0+</option>
              <option>1+</option>
              <option>1.5+</option>
              <option>2+</option>
              <option>3+</option>
            </select>
      <select name="Bedrooms" class="custom-select">
              <option>Bedrooms</option>
              <option>0+</option>
              <option>1+</option>
              <option>2+</option>
              <option>3+</option>
              <option>4+</option>
            </select>
      <select name="Square feet" class="custom-select">
              <option>Square feet</option>
              <option>2000+ sqft</option>
              <option>3000+ sqft</option>
              <option>4000+ sqft</option>
              <option>5000+ sqft</option>
              <option>7500+ sqft</option>
            </select>
      <select name="Home type" class="custom-select">
             <option>Home type</option>
              <option>House</option>
              <option>Apartment</option>
            </select>


    </form>
  </div>
  <a id="filters" data-toggle="modal" data-target="#myModal">Filters</a>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="my_modal_label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="my_modal_label">Filter search results</h4>
        </div>
        <div class="modal-body">
          <form class="modal-form">

            <select name="Min Price" class="custom-select">
                <option>Min Price</option>
                <option>$500+</option>
                <option>$750+</option>
                <option>$1,000+</option>
                <option>$1,250+</option>
                <option>$1,500+</option>
                <option>$1,750+</option>
                <option>$2,000+</option>
                <option>$2,500+</option>
              </select>
            <span></span>

            <select name="Max Price" class="custom-select">
                <option>Max Price</option>
                <option>$500+</option>
                <option>$750+</option>
                <option>$1,000+</option>
                <option>$1,250+</option>
                <option>$1,500+</option>
                <option>$1,750+</option>
                <option>$2,000+</option>
                <option>$2,500+</option>
              </select>
            <span></span>

            <select id="bathrooms" name="Bathrooms" class="custom-select">
                <option>Bathrooms</option>
                <option>0+</option>
                <option>1+</option>
                <option>1.5+</option>
                <option>2+</option>
                <option>3+</option>
              </select>
            <span></span>

            <select name="Bedrooms" class="custom-select">
                <option>Bedrooms</option>
                <option>0+</option>
                <option>1+</option>
                <option>2+</option>
                <option>3+</option>
                <option>4+</option>
              </select>
            <span></span>

            <select name="Square feet" class="custom-select">
                <option>Square feet</option>
                <option>2,000+ sqft</option>
                <option>3,000+ sqft</option>
                <option>4,000+ sqft</option>
                <option>5,000+ sqft</option>
                <option>7,500+ sqft</option>
              </select>
            <span></span>

            <select name="Home type" class="custom-select">
                <option>Home type</option>
                <option>House</option>
                <option>Apartment</option>
              </select>
            <span></span>


            <!-- 
            list of checkboxes with neighborhoods from the city they selected. use angular to generate it.
            -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="results">
    <div class="results-header text-center">
      <h2 class="h1">San Diego, CA</h2>
      <p class="h3"># homes for rent </p>
    </div>
    <div>

      <div data-ng-repeat="home in results">
        <city></city>
      </div>
    </div>
  </div>
  <div class="modal fade" id="resultsModal" tabindex="-1" role="dialog" aria-labelledby="my_modal_label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="my_modal_label">This home's profile</h4>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>
  <div id="map">


  </div>

  <script src="app.js"></script>
  <script src="module.js"></script>
  <script src="services.js"></script>
  <script src="controller.js"></script>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcABunm1stXmm-EaCTJGwdkM_d6sRo0rk&callback=initMap" async defer></script>

</body>

</html>
