<div>
  <nav>
    <ul>
      <li class="my_navbar"><a href="#buy">Buy</a></li>
      <li class="my_navbar"><a>Sell</a></li>
      <li class="my_navbar" id="logo"><a href="#home">RESI</a></li>
      <li class="my_navbar"><a href="#rent">Rent</a></li>
      <li class="my_navbar"><a href="#hotels">Hotels</a></li>
    </ul>

    <button type="button" id="nav-button" data-ng-click="rotate()" data-ng-class="rotate: rotation === 1 ; reverse-rotate: rotation === 2">
        <span class="lines"></span>
        <span class="lines"></span>
        <span class="lines"></span>
    </button>

    <ul id="menu">
      <li><a href="#buy">Buy</a></li>
      <li><a>Sell</a></li>
      <li><a href="#rent">Rent</a></li>
      <li><a href="#hotels">Hotels</a></li>
    </ul>
  </nav>

  <div id="search">
    <input type="text" id="search-bar" placeholder="Enter a city" data-ng-model="search" data-ng-keyup="liveSearch(); focus = 1">
    <div>
      <span class="glyphicon glyphicon-search"></span>
      <div id="search-container" data-ng-show="focus">
        <div class="row">
          <div data-ng-repeat="x in city.city">
            <a href="#" data-ng-click="pickCity(x); searchBarClick(); apply(searchedCity.val)">
              <div class="col-sm-6 well">
                <div class="col-md-3"><img class="img-responsive" src="" /></div>
                <div class="col-md-7">
                  <h5>{{x.key}} Number of homes: {{x.val.length}}</h5>

                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="placeholder">
      <p></p>
    </div>
    <form id="other-filters">

      <select name="Min Price" class="custom-select" data-ng-model="a" data-ng-change="change('Min Price', a);apply(searchedCity.val)">
              <option data-ng-selected="1 === 1">Min Price</option>
              <option>500+</option>
              <option>750+</option>
              <option>1000+</option>
              <option>1250+</option>
              <option>1500+</option>
              <option>1750+</option>
              <option>2000+</option>
              <option>2500+</option>
            </select>
      <select name="Max Price" class="custom-select" data-ng-model="b" data-ng-change="change('Max Price', b);apply(searchedCity.val)">
              <option data-ng-selected="1 === 1">Max Price</option>
              <option>500+</option>
              <option>750+</option>
              <option>1000+</option>
              <option>1250+</option>
              <option>1500+</option>
              <option>1750+</option>
              <option>2000+</option>
              <option>2500+</option>
            </select>
      <select name="Bathrooms" class="custom-select" data-ng-model="c" data-ng-change="change('Bathrooms', c);apply(searchedCity.val)">
              <option data-ng-selected="1 === 1">Bathrooms</option>
              <option>0+</option>
              <option>1+</option>
              <option>1.5+</option>
              <option>2+</option>
              <option>3+</option>
            </select>
      <select name="Bedrooms" class="custom-select" data-ng-model="d" data-ng-change="change('Bedrooms', d);apply(searchedCity.val)">
              <option data-ng-selected="1 === 1">Bedrooms</option>
              <option>0+</option>
              <option>1+</option>
              <option>2+</option>
              <option>3+</option>
              <option>4+</option>
            </select>
      <select name="Square feet" class="custom-select" data-ng-model="e" data-ng-change="change('Square feet', e);apply(searchedCity.val)">
              <option data-ng-selected="1 === 1">Square feet</option>
              <option>2000+ sqft</option>
              <option>3000+ sqft</option>
              <option>4000+ sqft</option>
              <option>5000+ sqft</option>
              <option>7500+ sqft</option>
            </select>
      <select name="Home type" class="custom-select" data-ng-model="f" data-ng-change="change('Home type', f);apply(searchedCity.val)">
             <option data-ng-selected="1 === 1">Home type</option>
              <option>House</option>
              <option>Apartment</option>
            </select>

    </form>
  </div>
  <a id="filters" data-toggle="modal" data-target="#myModal">Filters</a>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="my_modal_label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="my_modal_label">Filter search results</h4>
        </div>
        <div class="modal-body">
          <form class="modal-form">

            <select name="Min Price" class="custom-select" data-ng-model="a" data-ng-change="change('Min Price', a);apply(searchedCity.val)">
              <option data-ng-selected="1 === 1">Min Price</option>
              <option>500+</option>
              <option>750+</option>
              <option>1000+</option>
              <option>1250+</option>
              <option>1500+</option>
              <option>1750+</option>
              <option>2000+</option>
              <option>2500+</option>
            </select>


            <select name="Max Price" class="custom-select" data-ng-model="b" data-ng-change="change('Max Price', b);apply(searchedCity.val)">
              <option data-ng-selected="1 === 1">Max Price</option>
              <option>500+</option>
              <option>750+</option>
              <option>1000+</option>
              <option>1250+</option>
              <option>1500+</option>
              <option>1750+</option>
              <option>2000+</option>
              <option>2500+</option>
            </select>


            <select name="Bathrooms" class="custom-select" data-ng-model="c" data-ng-change="change('Bathrooms', c);apply(searchedCity.val)">
              <option data-ng-selected="1 === 1">Bathrooms</option>
              <option>0+</option>
              <option>1+</option>
              <option>1.5+</option>
              <option>2+</option>
              <option>3+</option>
            </select>


            <select name="Bedrooms" class="custom-select" data-ng-model="d" data-ng-change="change('Bedrooms', d);apply(searchedCity.val)">
              <option data-ng-selected="1 === 1">Bedrooms</option>
              <option>0+</option>
              <option>1+</option>
              <option>2+</option>
              <option>3+</option>
              <option>4+</option>
            </select>


            <select name="Square feet" class="custom-select" data-ng-model="e" data-ng-change="change('Square feet', e);apply(searchedCity.val)">
              <option data-ng-selected="1 === 1">Square feet</option>
              <option>2000+ sqft</option>
              <option>3000+ sqft</option>
              <option>4000+ sqft</option>
              <option>5000+ sqft</option>
              <option>7500+ sqft</option>
            </select>


            <select name="Home type" class="custom-select" data-ng-model="f" data-ng-change="change('Home type', f);apply(searchedCity.val)">
             <option data-ng-selected="1 === 1">Home type</option>
              <option>House</option>
              <option>Apartment</option>
            </select>



            <!-- 
            list of checkboxes with neighborhoods from the city they selected. use angular to generate it.
            -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="results">
    <div class="results-header text-center">
      <h2 class="h1">{{searchedCity.key}}</h2>
      <p class="h3" data-ng-click="apply(searchedCity.val)">{{searchedCity.val.length}} for rent </p>
    </div>
    <div>

      <div data-ng-repeat="home in results.homes">
        <city></city>
      </div>
    </div>

  </div>
  <div class="modal fade" id="resultsModal" tabindex="-1" role="dialog" aria-labelledby="my_modal_label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="my_modal_label">This home's profile</h4>
        </div>
        <div class="modal-body">
          beds: {{place.beds}}
        </div>
      </div>
    </div>
  </div>

  <div id="map_cont">
    <div id="map" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen>
    </div>
  </div>
</div>
