/* line 1, ../sass/screen.scss */
html {
  box-sizing: border-box;
}

/* line 5, ../sass/screen.scss */
body {
  background-color: antiquewhite;
}

/* line 9, ../sass/screen.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 15, ../sass/screen.scss */
a:focus,
button:focus,
input:focus {
  outline: none;
}

/* line 21, ../sass/screen.scss */
nav {
  position: relative;
  z-index: 3;
}
/* line 24, ../sass/screen.scss */
nav ul {
  margin: 0;
  padding: 0;
  background-color: #333333;
  position: relative;
  height: 52px;
  width: 100%;
}
/* line 31, ../sass/screen.scss */
nav ul .my_navbar {
  display: inline-block;
  width: 15%;
  margin: 0px 2.25% 0px;
}
/* line 35, ../sass/screen.scss */
nav ul .my_navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
/* line 41, ../sass/screen.scss */
nav ul .my_navbar a:hover {
  background-color: gray;
  transition: background-color .5s;
  cursor: pointer;
}

/* line 51, ../sass/screen.scss */
#logo {
  vertical-align: top;
  width: 15%;
}
/* line 54, ../sass/screen.scss */
#logo a {
  font: 300 25px sans-serif;
  padding: 11.5px;
}

/* line 60, ../sass/screen.scss */
#nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  right: 10px;
  background-color: transparent;
  height: 100%;
  display: none;
}

/* line 71, ../sass/screen.scss */
.rotate {
  -webkit-transform-origin: 50% 50% 0 !important;
  -webkit-transform: translateY(-50%) rotate(90deg) !important;
  -webkit-transition: transform .5s;
}

/* line 77, ../sass/screen.scss */
.reverse-rotate {
  transform: rotate(-90deg);
  transition: transform .5s;
}

/* line 82, ../sass/screen.scss */
.lines,
.line:hover {
  border-bottom: 4px solid white;
  content: "";
  height: 1px;
  width: 25px;
  margin: 4px;
  pointer: hand;
  display: block;
}

/* line 93, ../sass/screen.scss */
#menu {
  display: none;
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  position: absolute;
  height: auto;
  width: 100%;
  border-bottom: solid .5px gray;
  z-index: 100000;
}
/* line 103, ../sass/screen.scss */
#menu li {
  border: solid .5px gray;
  border-collapse: collapse;
}
/* line 106, ../sass/screen.scss */
#menu li a {
  font: 300 20px sans-serif;
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
/* line 113, ../sass/screen.scss */
#menu li a:hover {
  background-color: #333333;
  color: white;
  transition: background-color .5s, color .5s;
  cursor: pointer;
}

/* line 123, ../sass/screen.scss */
input[type="text"] {
  height: 30px;
  border-radius: 5px 0px 0px 5px;
  border: none;
  padding-left: 10px;
}

@media (max-width: 655px) {
  /* line 131, ../sass/screen.scss */
  #menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 49px;
    z-index: 1;
    width: 100%;
  }

  /* line 139, ../sass/screen.scss */
  .my_navbar:not(#logo) {
    display: none;
  }

  /* line 142, ../sass/screen.scss */
  #nav-button {
    display: block;
  }
  /* line 144, ../sass/screen.scss */
  #nav-button:hover {
    cursor: pointer;
  }

  /* line 148, ../sass/screen.scss */
  nav:not(#footer) {
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* line 153, ../sass/screen.scss */
  .bg {
    margin-top: 52px;
  }
}
/* line 158, ../sass/screen.scss */
#logo {
  width: 50px;
  margin-left: 10px;
}
/* line 162, ../sass/screen.scss */
#logo a:hover {
  background-color: #333333;
}

/* line 168, ../sass/screen.scss */
input[type="text"] {
  width: 80%;
  margin: 10px 10px 0px 0px;
  margin-right: -2px;
  z-index: 3;
}

/* line 175, ../sass/screen.scss */
#search {
  text-align: center;
  width: 60%;
  position: fixed;
  z-index: 3;
  transform: translateX(-50%);
  left: 50%;
  z-index: 3;
  height: auto;
  margin-left: 10px;
}
/* line 185, ../sass/screen.scss */
#search div {
  display: inline;
}
/* line 188, ../sass/screen.scss */
#search span,
#search span:hover {
  margin: 9px 0px;
  margin-left: -3px;
  z-index: 3;
  padding: 8px;
  border-radius: 0px 5px 5px 0px;
  background-color: white;
  cursor: pointer;
  vertical-align: top;
}

/* line 201, ../sass/screen.scss */
#filters,
#filters:hover {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 130px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  background-color: #333333;
  color: white;
  border-radius: 29px;
  font: 400 20px sans-serif;
}

@media (min-width: 656px) {
  /* line 219, ../sass/screen.scss */
  #menu {
    display: none !important;
  }

  /* line 222, ../sass/screen.scss */
  nav {
    text-align: center;
  }
}
@media (min-width: 990px) {
  /* line 228, ../sass/screen.scss */
  #menu {
    display: none !important;
  }
}
